* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}
header {
  height: auto;
}
nav {
  height: 60px;
  box-shadow: 0px 2px 3px 0px #ff4907;
  z-index: 10;
  background-color: #f3f3f3;
}
main {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  column-gap: 2em;
}
.card {
  height: 430px;
  width: 350px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-top: 10px;
  transition: box-shadow 0.2s ease-in;
  border: 1px solid #d9d9d9;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-family: Comic Sans MS, Comic Sans, cursive;
  
}
.card-2 {
  height: 430px;
  width: 350px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: box-shadow 0.2s ease-in;
  border: 1px solid #d9d9d9;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-family: Comic Sans MS, Comic Sans, cursive;
}
.currentTimeline{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  color: orangered;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
.card-2::-webkit-scrollbar {
  display: none;
}
.card:hover {
  box-shadow: 0px 0px 20px 20px #ebebeb;
}
.segment1 {
  height: 15%;
  width: 100%;
}
.segment1-1 {
  height: 30%;
  width: 100%;
  color: orangered;
  font-weight: bold;
}
.segment11 {
  height: 15%;
  width: 100%;
}
.segment11-1 {
  height: 30%;
  width: 100%;
  color: orangered;
  font-weight: bold;
}
.segment111 {
  height: 15%;
  width: 100%;
}
.segment111-1 {
  height: 30%;
  width: 100%;
  color: orangered;
  font-weight: bold;
}
.segment2 {
  height: 30%;
  width: 100%;
}
.segement2-1 {
  height: 20%;
  width: 100%;
  color: orangered;
  font-weight: bold;
}
ul {
  list-style: inside none;
}
.segment3 {
  height: 20%;
  width: 100%;
}
.segement3-1 {
  height: 30%;
  width: 100%;
  color: orangered;
  font-weight: bold;
}
.segement3-2 {
  padding-left: 15px;
  font-size: smaller;
}

.plans {
  text-align: center;
  row-gap: 6em;
}
.plansbrief{
  font-weight: bold;
  margin-top:  25px;
  list-style: inside;
}
.course{
  /* font-family: cursive; */
  border: none;
  display: flex;
  flex-direction: column;
  color: #00296b;
  background-color: #06d69e4b;
  padding: 4%;
  border-radius: 2%;
}
span{
  color: black;
  font-weight: bold;
  border-radius: 3%;
  padding: 2%;
}

/* footer time line */
.timeline {
  width: 100%;
  height: 340px;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 6em;
  column-gap: 1em;
}
.timieline-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #ff4907;

}
.timeline-content {
  max-width: 300px;
  height: 200px;
  padding: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  align-self: flex-start;
  background: #fff;
  position: relative;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.6);
}
.timeline-content:before {
  position: absolute;
  width: calc(100% + 14px);
  height: 4px;
  top: calc(100% + 10px);
  background:#006b59c2;
  content: "";
  left: -7px;
  border-radius: 5px;
}

.timeline-content:after {
  position: absolute;
  width: 4px;
  height: 25px;
  top: 100%;
  left: calc(50% - 10px);
  background:#006b59c2;
  content: "";
}
.timeline-period {
  font-weight: bold;
  position: absolute;
  top: calc(100% + 25px);
  background: #fff;
  padding: 10px;
  width: 100px;
  text-align: center;
  border-radius: 10px;
  left: calc(50% - 60px);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  color: #ff4907;
}
.timeline-period:before {
  width: 15px;
  height: 15px;
  background:#006b59;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: -20px;
  left: calc(50% - 6px);
  z-index: 2;
}

.timeline-content:hover {
  box-shadow: 0px 0px 3px 3px rgba(13, 212, 136, 0.6);  
}
